:root {
  --primary-color: #0047bb;
  --dark-blue: #0047bb;
  --dark-blue-1: #0047bb;
  --dark-blue-2: #336cc9;
  --dark-blue-3: #6691d6;
  --dark-blue-4: #99b5e4;
  --dark-blue-5: #ccdaf1;
  --blue: #00cafb;
  --blue-1: #00cafb;
  --blue-2: #33d5fc;
  --blue-3: #66dffd;
  --blue-4: #99eafd;
  --blue-5: #ccf4fe;
}
