extends  ../../layout/layout
include  ../../components/index

block variables
  -
    let title = 'Welcome to Start Template'
block content
  .index
    include modules/indexMain/IndexMain
    include modules/indexSpecialists/IndexSpecialists
